<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Form</title>
</head>
<body>
<a href="/home">Home</a> <a href="/leaves/createLeave"> Create Leave</a>  <br>

Leave
	<form th:object="${leave}" th:action="@{/leaves}" method="post">
		
		<fieldset>
			<fieldset>
			Id: <input type="text" th:field="*{id}" >
				<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
		</fieldset>
		<fieldset>
			Type: <input type="text" th:field="*{leaveType}">
			<p th:if="${#fields.hasErrors('leaveType')}" th:errors="*{leaveType}"></p>
		</fieldset>
		<fieldset>
			Description: <input type="text" th:field="*{Description}">
			<p th:if="${#fields.hasErrors('Description')}" th:errors="*{Description}"></p>
		</fieldset>
	
	<fieldset>
			From Date: <input type="date"  name="bday" max="2100-12-31" th:field="*{fromDate}">
			<p th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}"></p>
		</fieldset>
<fieldset>
			To Date: <input type="date" name="bday" min="2000-01-02" th:field="*{toDate}">
			<p th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></p>
		</fieldset>

			<button style="background-color:green; height:160px;width:160px ; border:none" type="submit">Save</button>
		</fieldset>

	</form>
</body>
</html>