<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    
</head>
<body style="text-align:center">
<h1> Employee Leave Portal</h1>

<a href="/home/addEmployee"><button id="button">Add New User</button></a> <br> <br>
<a href="/home/viewEmployee"><button id="button"> Manage User</button></a>  <br> <br>
<a href="/home/addleave"><button id="button">Create Holiday List</button></a> <br> <br>
<a href="/home/addleave"><button id="button">Manage Holiday List</button></a> <br> <br>
<a href="/home/createCredentials"><button id="button">Manage Credentials</button></a>  

</body>
</html>