<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    
</head>
<body style="text-align:center">
<h1>Manager Portal</h1>

<a href="/leaves/addform"><button id="button"> Leave Application Approval Form</button></a> <br> <br>
<a href="/home/viewholiday"><button id="button">View Holiday </button></a> <br> <br>
<a href="/leaves/addform"><button id="button">Claim Compensation Approval</button></a> <br> <br>
<a href="/home/viewholiday"><button id="button">Subordinate Leave History </button></a> <br> <br>
<a href="/leaves/addform"><button id="button">Manage Leave Application Form</button></a> <br> <br>

</body>
</html>

