<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Form</title>
</head>
<body >
Leave


	<form th:object="${leaves}" th:action="@{/leaves/edit/{id}(id=${leaves.id})}" method="post">
		<fieldset>
			Leave Type: <select th:field="*{leave_type}">
									   <option value=""> Choose leave type </option>
									   <option th:value="Annual" th:text="Annual"/>
									   <option th:value="Compensation" th:text="Compensation"/>
									   <option th:value="Medical" th:text="Medical"/>
									   </select> 
				<p th:if="${#fields.hasErrors('leave_type')}" th:errors="*{leave_type}"></p>
		</fieldset>
		<fieldset>
			From: <input type="date" th:field="*{fromDate}" />
			<p th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}"></p>
		</fieldset>
		<fieldset>
			To: <input type="date" th:field="*{toDate}" />
			<p th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></p>
		</fieldset>
		<fieldset>
			Reason: <input type="text" th:field="*{reason}">
		</fieldset>
	


			<button class="button" type="submit" style="background-color:green;height:20px;width:50px ; align:right; border:none" >Save</button>
		

	</form>

	
</body>
</html>